.footer {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px; }

.footer__tags {
  font-family: "pt sans";
  font-size: 20px;
  display: inline-block;
  margin-bottom: 35px; }

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.footer__item {
  width: 45px;
  height: 48px;
  display: inline-block;
  background-color: #81b3d2;
  margin-right: 3px; }

.footer__link {
  display: block;
  width: 45px;
  height: 48px; }

.footer__link--tw {
  background-image: url("../../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: center; }

.footer__link--fb {
  background-image: url("../../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center; }

.footer__link--youtube {
  background-image: url("../../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center; }

.footer__copy {
  display: inline-block;
  margin-top: 45px; }

.footer__copy--text {
  font-size: 13px;
  padding-right: 40px;
  padding-top: 20px;
  background-image: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 100px 0px; }

@media only screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 33px; }
  .footer__tags {
    margin-top: 15px; }
  .footer__copy {
    margin-top: 17px; } }
