.intro {
  margin-top: -33px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: -224px 0;
  background-repeat: no-repeat;
  padding-bottom: 83px;
  text-align: center;
  width: 100%;
  max-width: 767px; }

.intro__text {
  text-align: center;
  padding-top: 90px; }

.intro__title {
  text-align: center; }

.intro__title h1 {
  font-size: 18px;
  font-family: "PT sans";
  font-weight: bold;
  text-align: center;
  display: inline-block;
  line-height: 26px;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px; }

.intro__title p {
  font-size: 14px;
  font-family: "PT sans";
  color: #414141;
  font-weight: 300;
  line-height: 26px;
  text-align: center; }

@media screen and (min-width: 768px) {
  .intro {
    background-position: center;
    margin-top: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    min-height: 518px;
    -webkit-background-size: cover;
            background-size: cover;
    padding-bottom: 0; }
  .intro__text {
    padding-top: 77px; }
  .intro__text img {
    width: 458px; } }
